title-text: ""
desktop-image: "background.png"
desktop-color: "#000000"
terminal-font: "Terminus (TTF) Regular ${TMPL_TERMINAL_FONT_SIZE}"
terminal-left: "0"
terminal-top: "0"
terminal-width: "100%"
terminal-height: "100%"
terminal-border: "0"

+ label {
  text = "%ds"
  id = "__timeout__"
  top = 100%-10-${TMPL_FONT_SIZE}
  left = 50%
  width = 50%-10
  align = "right"
  color = "#ffffff"
  font = "Cousine Regular ${TMPL_FONT_SIZE}"
}
+ label {
  text = "↑↓: select, enter: boot, 'e': options, 'c': cmd-line"
  top = 10
  left = 10
  width = 100%-20
  height = 20%
  align = "center"
  color = "#ffffff"
  font = "Cousine Regular ${TMPL_FONT_SIZE}"
}

+ boot_menu {
  left = 0
  top = 0
  width = ${TMPL_WIDTH}
  height = ${TMPL_HEIGHT}
  item_font = "Label Regular ${TMPL_FONT_SIZE}"
  item_color = "#ffffff"
  selected_item_color = "#ffffff"
  icon_width = ${TMPL_WIDTH}
  icon_height = ${TMPL_HEIGHT}
  item_icon_space = ${TMPL_LABEL_OFFSET}
  item_height = ${TMPL_HEIGHT}
  item_padding = 0
  item_spacing = 0
}

